/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  skip setting html and body height for now
  my portfolio site is responsive and works fine without these set
*/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-UltraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("fonts/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("fonts/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Gill Sans, sans-serif";
  /* base font size */
  font-size: 1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: normal;
}

.content-width {
  width: 80%;
  margin: 0 auto;
}

.upper {
  text-transform: uppercase;
}

.section-title {
  font-family: "Gill Sans";
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 45px;
  display: block;
}

.logo--light, .logo {
  font-size: 1.25rem;
  padding-top: 30px;
  border: solid thin;
}

.logo {
  color: #000000;
}

.logo--light {
  color: #ffffff;
}

.hero {
  margin-bottom: 77px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::before {
  background-image: url("../images/home-hero.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 80%;
}
.hero::after {
  background-color: #ffd140;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 80%;
}
.hero .hero-cta {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;
}
.hero .hero-cta p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
  max-width: 416px;
  text-align: center;
}
.hero .hero-cta header h1 {
  font-size: 40px;
  font-family: "PT Serif";
  margin-bottom: 10px;
}
.hero .hero-cta header p {
  color: #ee4367;
}
.hero .hero-cta .hero-button {
  width: 121.62px;
  height: 40.04px;
}

.date-block {
  color: #ffffff;
  background-color: #ee4367;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date-block .day {
  font-size: 22px;
  font-weight: 700;
}
.date-block .month {
  font-size: 12px;
  font-weight: 300;
}

.client-quote {
  width: 789px;
}
.client-quote blockquote {
  margin-bottom: 20px;
}
.client-quote blockquote p {
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
  color: #ffd140;
  font-size: 15px;
}
.client-quote figcaption .author {
  color: #ee4367;
  font-size: 15px;
}
.client-quote figcaption .title {
  color: #a8a8a8;
  font-size: 10px;
}

.btn, .btn--round {
  background-color: #ee4367;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
}
.btn--round {
  border-radius: 1.25rem;
}
.btn--small {
  width: 133px;
  white-space: nowrap;
}
.btn--medium {
  width: 167px;
}
.btn--wide {
  width: 100%;
}
.btn--reverse {
  color: #ee4367;
  background-color: #ffffff;
}

footer {
  height: 455px;
  background-color: #ee4367;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .footer-content {
  margin-top: 36px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer-content address {
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
footer .footer-content address p {
  margin-bottom: 5px;
}
footer .footer-content .social {
  display: flex;
  gap: 30.5px;
}
footer .footer-content .copyright {
  color: #a8a8a8;
  font-size: 12px;
  margin-bottom: 36px;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
}
.navbar .nav-content {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid;
  margin-bottom: calc(48 / 1px);
}
.navbar .links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 18px;
}
.navbar .links a {
  text-decoration: none;
  font-size: 15px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
  color: #000000;
}
.navbar .links {
  color: #ee4367;
}
.navbar .links a {
  color: #000000;
}

.navbar--home {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color: #ffffff;
}
.navbar--home .links {
  color: #ee4367;
}
.navbar--home .links a {
  color: #ffffff;
}

.form-subscribe {
  display: flex;
}
.form-subscribe .form-element {
  width: 529px;
  padding: 20px;
  border: none;
  opacity: 50%;
}
.form-subscribe > * {
  height: 60px;
}

.events {
  height: 320px;
  padding: 50px 40px 72px 40px;
  background-color: #540d6e;
  color: #ffffff;
}
.events .events-list {
  display: flex;
  gap: 20px;
}
.events .events-list .event-item {
  display: flex;
  gap: 20px;
}
.events .events-list .event-item .event-text {
  max-width: 140px;
}
.events .events-list .event-item .event-text .event-title {
  font-size: 15px;
}
.events .events-list .event-item .event-text .event-paragraph {
  font-size: 13px;
  color: #ee4367;
}