body {
  font-family: $body-font-family;
  /* base font size */
  font-size: 1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: normal;
}

//NOTE: percentage may not be best way
.content-width {
  width: 80%;
  margin: 0 auto;
}

.upper {
  text-transform: uppercase;
}

.page-title {
  font-family: $font-primary;
  font-size: $font-size--25;
  text-transform: uppercase;
}
