$brand-primary: $pink;
$brand-secondary: $yellow;
$brand-dark: $black;
$brand-light: $white;

$font-primary: "Gill Sans";
$font-secondary: "PT Serif";

//fonts don't look like Gill Sans when use back up, although Fontanello & whatfont both report text is Gill Sans
// $body-font-family: "#{$font-primary}, sans-serif";
$body-font-family: "#{$font-primary}";

//1 px = 0.0625 rem
$px-to-rem-factor: 0.0625;
$base-font-size: calc($font-size--16 * $px-to-rem-factor);

$opacity: 80%;
