.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;

  .about-hero {
    height: 379px;
    margin-top: 20px;
    background-image: url("../images/home-hero.jpg");
    position: relative;
    z-index: -2;
    @include overlay-after-bg-image;
  }

  .about-overlay {
    @include overlay;
  }

  h1 {
    margin-top: -53px;
  }
  p {
    font-weight: $light-weight;
    font-style: italic;
    letter-spacing: 1.6px;
    line-height: 18px;
  }
}
