.blog-post-detail {
  // margin-top: 55.5px;
  .blog-banner {
    margin: 0 auto;
    width: 981px;
    height: 300px;
    margin-bottom: 57px;
    position: relative;

    .blog-overlay {
      @include overlay($pink);
    }

    .date-block-large {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .blog-sections {
    line-height: 23px;
    h2 {
      font-size: $font-size--20;
      color: $brand-primary;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 33px;
      font-size: $font-size--20;
      font-weight: $light-weight;

      letter-spacing: 2px;
    }
  }
}
