$opacity: 0.7;

.gallery-items-wrapper {
  display: flex;

  //looks good on both smaller and larger screen sizes
  justify-content: space-evenly;

  flex-wrap: wrap;
  gap: 20px;

  //make image display block so no bleed from background color;
  a {
    position: relative;

    img {
      display: block;
      max-width: 100%;
    }
  }
}
