$opacity: 0.7;

.gallery-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  //make image display block so no bleed from background color;
  a {
    position: relative;

    img {
      display: block;
    }
    .overlay-1 {
      @include overlay($yellow, $opacity);
    }

    .overlay-2 {
      @include overlay($pink, $opacity);
    }

    .overlay-3 {
      @include overlay($green, $opacity);
    }

    .overlay-4 {
      @include overlay($purple, $opacity);
    }

    .overlay-5 {
      @include overlay($turquoise, $opacity);
    }
  }
}
