//TODO: yellow overlay

//Accessibility should use a shadow (text or background) to make test easier to read
.hero {
  margin-bottom: 77px;
  height: 500px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  &::before {
    background-image: url("../images/home-hero.jpg");
    // background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: $opacity;
  }

  @include overlay-after;
  // &::after {

  .hero-cta {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    color: $brand-light;
    p {
      font-size: $font-size--20;
      font-style: italic;
      margin-bottom: 50px;
      max-width: 416px;
      text-align: center;
    }
    header {
      h1 {
        font-size: $font-size--40;
        font-family: $font-secondary;
        margin-bottom: 10px;
      }

      p {
        color: $brand-primary;
      }
    }
    .hero-button {
      //exact dimensions from Adobe XD
      width: 121.62px;
      height: 40.04px;
      // padding: 11px 26.3px 12px 27.3px;
    }
  }
}
